{% extends 'base.html.twig' %}


{% block body %}
	<div class="container-fluid">

		<div class="header mt-4">
			<nav
				class="navbar navbar-expand-lg bg-body-tertiary">
				<!-- Logo qui s'affiche when screen is block -->
				<a class="navbar-brand d-md-block d-lg-none" href="#">
					<img src="./assets/Logo.png" alt="Logo Gates Technology" width="90" class="offset-1 col-lg-11"/>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link btn btn-gates px-4 d-lg-block d-md-none d-sm-none d-none" aria-current="page" href="#">HOME</a>
							<a class="nav-link mt-2 d-md-block d-lg-none" aria-current="page" href="#">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">SERVICES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TECH AND METHOD</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CLIETNS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">PRICES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">COMPANY</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CONTACT</a>
						</li>

					</ul>
					<div class="d-flex bg-switch-lang">
						<div class="dropdown">
							<a class="nav-link dropdown-toggle text-gt-blue" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ asset('/assets/flag/en.png') }}" alt="No image found" width="25" class="img-fluid"/>
								&nbsp; English
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item text-gt-blue" href="{{ path('app_home', {lang: "fr"}) }}">
										<img src="{{ asset('/assets/flag/fr.png') }}" alt="No image found" width="20" class="img-fluid"/>
										&nbsp;French
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>

			<!-- FIRST VIEW -->
			<div class="row mt-4">
				<div class="col-1"></div>
				<div class="col-11">
					<div class="row">
						<img src="./assets/Logo.png" alt="Logo Gates Technology" class="col-12 d-lg-block d-md-none d-sm-none d-none logo-gates-technology"/>
						<div class="col-12 mt-3">
							<h6>BOOST YOUR IT PROJECT WITH</h6>
						</div>
						<h1 class="col-12 mt-1 big-title-text bold">
							A POWERFUL DEVELOPMENT, DIGITAL AND
							<br/>
							MARKETING TEAM
						</h1>
						<div class="col-8 mt-3">
							<span class="long-text">
								Expert in the production of agile IT projects in Dubai and Madagascar, Gate-Digital accompanies its clients in the establishment of their digital strategy
							</span>
						</div>
						<div class="col-12 btn-group-gates mt-5 mb-5">
							<button class="btn btn-red-offline px-5 btn-1">
								CONTACT US
							</button>
							<button class="btn btn-bleu-full px-5 btn-2">
								See our work
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div
			class="description-content-company mt-3">


			<!-- FOLLOW US, etc... -->
			<div class="row">
				<div class="col-lg-12 col-md-12 d-lg-block d-md-block d-hidden container-fluid background-dcc">
					<img src="./assets/BG-Header.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-5 col-md-5 d-lg-flex d-md-flex d-none follow-us d-flex justify-content-center align-items-center py-1">
					<img src="./assets/undraw_social_media_re_sulg 1.svg" alt="Social Média" class="" style="width: 70px;"/>
					<p class="pt-3 mx-5">Follow-us :</p>
					<div class="icon d-flex justify-content-center align-items-center">
						<i class="fab fa-facebook p-2"></i>
						<i class="fab fa-instagram p-2"></i>
						<i class="fab fa-twitter p-2"></i>
						<i class="fab fa-linkedin p-2"></i>
					</div>
				</div>

				<div class="col-lg-12 main-content mt-4">
					<div class="it-partener">
						<div class="row">
							<div class="col-1"></div>
							<div class="col-6 d-flex mt-5 justify-content-end align-items-end">
								<div>
									<h1 class="text-gt-blue bold">YOUR STRATEGIC IT PARTNER</h1>
									<h3 class="mt-4 text-gt-blue">SUPPORT FOR ALL YOUR PROJECTS</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-md-4 d-lg-block d-md-block d-none">
								<img src="./assets/undraw_code_review_re_woeb.svg" alt="Code" class="img-fluid" width="350"/>
							</div>
							<div class="col-lg-1 col-md-1 col-0"></div>
						</div>

						<div class="row mt-5">
							<div class="col-1"></div>
							<div class="col-4">
								<img src="./assets/undraw_online_learning_re_qw08.svg" alt="Code" class="img-fluid" width="350"/>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 d-lg-flex d-md-flex d-none d-flex justify-content-start align-items-center">
								<p class="text-center it-partener-text-content">In the perspective of digitalization, we set up a large panel of services: conception and realization from A to Z, iterative development, IT management, maintenance and improvement...</p>
							</div>
							<div class="col-1"></div>

						</div>
					</div>

					<div class="first-banner container-fluid">
						<div class="first-banner-text-content text-white text-center">
							<p class="gt">Gate-Digital is</p>
							<p class="text-gt-red bold">a digital service company</p>
							<p>(DSC), leader in</p>
							<p class="text-gt-red bold">creating customized digital strategies and experiences</p>
							<p>in Madagascar and Dubai.</p>
						</div>
						<img src="./assets/banner-1.png" alt="Image Banner 1" class="first-banner-image-content d-lg-block d-md-block"/>
					</div>


					<div class="nos-metiers">
						<div class="row mt-4">
							<div class="col-lg-2 col-md-0 "></div>
							<div class="col-10">
								<h2 class="text-gt-blue bold">Our jobs</h2>
							</div>
							<div class="col-12 mt-2">
								Gate-Digital brings together all the expertise: design, tech and consulting in one place.
							</div>
							<div class="col-12 mt-2">
								<div class="row d-flex mt-3 py-5 add-backgound justify-content-center">

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 text-center p-3 card-price mb-3">
										<h2 class="my-4">Development</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Branded website</b> : A website optimized for the user. We take care of the creation of the site (brand site, corporate site B2B or B2C, C2C, e-commerce, events, etc.) from the digital strategy to the UX, design and technical creation (Wordpress, symfony, prestashop, etc)</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Extranet/Digital business tool</b> : Companies always need specific tools adapted to their needs and those of their customers. We take care of the creation of these customized business tools (extranet, digital support for the sales team, start-up platform, etc.).</span>
										</div>

										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Contact us
											</button>
										</div>
									</div>

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 mx-5  text-center p-3 card-price mb-3">
										<h2 class="my-4">Visibility</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Digital marketing</b> : We accompany you in your digital strategies, establishment of specifications, online media plan, branding strategy, SEO, e-reputation, emailing.</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Traffic acquisition (SEO/SAE, ...)</b> : Digitalization must allow an organization to reach a new qualified audience (followers, prospects, etc.) to animate and develop its community through targeted advertising. We do the audit, acquisition strategy and implementation of webmarketing (social media, SEO, Google ADS/SEA, retargeting, etc.).</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Social networks</b> : Social networks represent the first point of contact of a brand with its user and potential customer. At first glance, you must convince them of the relevance and quality of the content to encourage them to go further. Social strategy, community management, targeted advertising, content creation, etc.</span>
										</div>

										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Contact us
											</button>
										</div>
									</div>

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 text-center p-3 card-price mb-3">
										<h2 class="my-4">Visual</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>UX and Design</b> : Visual identity, design thinking, user journey/testing, art direction.</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Brand content</b> : To enhance both the content as well as the form, we take care of the editorial charter, storytelling, writing and video motion design.</span>
										</div>
										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Contact us
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="vos-avantages">
						<div class="row">
							<div class="col-lg-6 col-md-7 col-sm-12 px-5">
								<h1 class="text-gt-red bold">YOUR ADVATANGES</h1>
								<h4>Entrust some or all of your IT projects to Gates-Digital</h4>
								<div class="reason-1 mt-3 d-flex justify-content-center align-items-center">
									<img src="./assets/avt.png" alt="" class="img-fluid"/>
									<p>Benefit from a flexible offer at a competitive rate</p>
								</div>

								<div class="reason-2 d-flex justify-content-center align-items-center">
									<p>The best multi-skilled IT profiles</p>
									<img src="./assets/avt1.png" alt="" class="img-fluid"/>
								</div>

								<div class="reason-3 mt-5 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>Industrialized support and Agile approach</p>
								</div>
								<div class="reason-4 mt-2 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>"Time to market" at high speed</p>
								</div>
								<div class="reason-5 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>An operational team available in a very short time</p>
								</div>
							</div>

							<div class="col-lg-6 col-md-5 d-lg-block d-md-block d-none px-5">
								<img src="./assets/rect.png" alt="" class="img-fluid"/>
							</div>

						</div>
					</div>

					<div class="second-banner container-fluid">

						<div class="some-content d-flex justify-content-end align-items-center">
							<div class="content-some row d-flex justify-content-center align-items-center p-2">
								<div class="col-lg-9">
									<h4 class="bold text-gt-blue">Technical resources Need technical resources?</h4>
									<p>Gain flexibility by reducing your costs with a dedicated team of developers!</p>
								</div>
								<div class="col-lg-3 mt-3 d-flex justify-content-center align-items-center">
									<img src="./assets/undraw_code_review_re_woeb.svg" alt="" class="img-fluid" style="width: 90px;">
								</div>

							</div>
						</div>
						<p class="second-banner-text-description">
							Gate-Digital is
							<span class="text-gt-red bigger">a digital service company</span>
							<br>(DSC),leader
							<span class="text-gt-red bigger">in software development</span>
							in Madagascar and Dubai.</p>
						<img src="./assets/banner-2.png" alt="" class="img-fluid second-banner-image"/>

						<div class="some-content-2 d-flex justify-content-start align-items-center">
							<div class="content-some-2 row d-flex justify-content-center align-items-center p-2">
								<div class="col-lg-3 d-flex justify-content-center align-items-center">
									<img src="./assets/undraw_online_learning_re_qw08.svg" alt="" class="img-fluid" style="width: 90px;">
								</div>
								<div class="col-lg-9 mt-2">
									<h4 class="bold text-gt-blue">You have a project to develop?</h4>
									<p>More than a service center, we realize your web, mobile and software projects.
									</p>
								</div>

							</div>
						</div>


					</div>

					<div class="client-information container">
						<div class="row d-flex justify-content-center align-items-center" style="height: 300px;">
							<div class="col-lg-5 col-md-5 col-sm-12 my-5 d-flex justify-content-center align-items-center">
								<img src="./assets/undraw_interview_re_e5jn.svg" alt="" class="img-fluid img-responsive img-client">
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12">
								<h3 class="text-center text-gt-blue">
									<b class="h1">Our clients</b>
									like what
									<br>
									<b class="h1">we do</b>
								</h3>
								<div class="client-message mt-3 mb-5">
									<img src="./assets/faingo.png" alt="" style="width: 40px;">
									<p class="text-center mt-4 mb-4">Thank you for your help. An irreproachable professionalism never disappointed with your services.</p>
									<img src="./assets/faingo2.png" alt="" style="width: 40px;float: right;">
								</div>
							</div>
						</div>
					</div>

					<div class="container more-content my-5">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">UNDERSTAND YOUR BUSINESS BY PROVIDING A DIGITAL RESPONSE TAILORED TO YOUR NEEDS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>Because your notoriety and development issues go through digital, we have the responsibility to understand your issues and respond with digital solutions tailored to your needs based on our experience.</p>
									<p class="bold text-gt-red">Because the customer is at the heart of our business</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">YOUNG AMBITIOUS STRUCTURES, WE HELP YOU TO TAKE OFF YOUR BUSINESS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>With diverse digital skills and high level profile, Gate Digital allows brands to gain in reactivity and with a cost saving.</p>
									<p class="bold text-gt-red">A single agency with all the expertise you need</p>
									<p>Composed of a great webmarketing team with a lot of experience in brand content, we gather the necessary skills for the implementation of your digital device, coordinated and effective.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">UNDERSTAND YOUR BUSINESS BY PROVIDING A DIGITAL RESPONSE TAILORED TO YOUR NEEDS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>Because your notoriety and development issues go through digital, we have the responsibility to understand your issues and respond with digital solutions tailored to your needs based on our experience.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="contact container-fluid">
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-12">
								<h1 class="text-white mb-5">Contact us</h1>
								<img src="./assets/undraw_profile_data_re_v81r.svg" alt="contact image" class="img-fluid mb-5"/>
								<p class="text-white">contact@gate-digital.com</p>
								<p class="text-gt-red" style="font-size: 10px;">
									<i class="fas fa-copyright"></i>
									Gate-Digital
									{{ "now" | date('Y') }}</p>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12 text-white">
								<h3 class="mb-5">We remain at
									<br>
									<span class="text-gt-red bold to-reduce" style="font-size: 50px;">PROVISION</span>
								</h3>
								<p>For a quote or any other information request, do not hesitate to contact us</p>
								{{form_start(form)}}
								{{form_widget(form.nom, { attr : { "placeholder" : "Name *" } })}}
								{{form_widget(form.telephone, { attr : { "placeholder" : "Phone Number *" } })}}
								{{form_widget(form.email, { attr : { "placeholder" : "Email *" } })}}
								{{form_widget(form.sujet, { attr : { "placeholder" : "Subject *" } })}}
								{{form_widget(form.message, { attr : { "placeholder" : "Message *" } })}}
								<p class="text-email-sent text-gt-red"></p>
								<button type="submit" class="btn btn-red-full px-5 float-end send-mail-button">
									<span class="request-send">
										<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>
									<span class="text-send">Send</span>
								</button>
								{{form_end(form)}}

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="container-fluid footer d-flex justify-content-center align-baseline pt-3">
			<div class="container mt-3">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<img src="./assets/Logo.png" alt="" class="img-fluid"/>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 nos-partenaires">
						<h6 class="mb-4 text-white">Our partners</h6>
						<div>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.daily-africa.com">
								<img src="{{ asset('./assets/logo-partenaires/Daily-africa-01-01-1.png') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.african-sport.com">
								<img src="{{ asset('./assets/logo-partenaires/africa-sport-final-01-1.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.africa-diplomacy.com">
								<img src="{{ asset('./assets/logo-partenaires/logo-africa_diplomacy.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.afrik-economy.com">
								<img src="{{ asset('./assets/logo-partenaires/AfriK-economy FINAL.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.africa-entrepreneurship.com">
								<img src="{{ asset('./assets/logo-partenaires/logo africa entrepreneurship FINAL-03.png') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
						</div>
					</div>

					<div class="nos-services col-lg-3 col-md-3 col-sm-6 text-white">
						<h6 class="mb-4">Our Services</h6>
						<p style="color: gray">
							<b>UX and Design :</b>
							Visual identity, design thinking,...
						</p>
						<p style="color: gray">
							<b>Brand content :</b>
							To enhance both the content and the form,...
						</p>
						<p style="color: gray">
							<b>Digital marketing :</b>
							We accompany you in your digital strategies,...
						</p>

					</div>


					<div class="contact-adress col-lg-3 col-md-3 col-sm-6 text-white">
						<h6 class="mb-4">Contact us</h6>
						<p style="color: gray">
							<i class="fas fa-phone"></i>
							&nbsp;+971 50 334 5776
						</p>

						<p style="color: gray">
							<i class="fas fa-envelope"></i>
							&nbsp;contact@gate-digital.com
						</p>

					</div>
				</div>
				<hr class="text-white">

				<div class="row mb-3 d-flex justify-content-between align-items-center">
					<div class="col-lg-6 d-flex justify-content-center align-items-center">
						<div>
							<i class="fas fa-envelope fa-2x text-white"></i>
						</div>
						<div class="text-white" style="font-size: 12px; margin-left: 30px;">
							<p style="color: gray;">Join our monthly newsletter</p>
							<p>Sign up to receive our latest news and publications every month!</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Email Address" aria-describedby="button-addon2" style="border: 1px solid #DC2042;background-color: darkgray;"/>
							<button class="btn btn-red-full" type="button" id="button-addon2">Subscribe</button>
						</div>
					</div>

				</div>

			</div>
		</div>


	</div>


{% endblock %}

{% block javascripts %}
	<script>
		var sendMailPath = "{{ path('app_send_contact_mail') }}"
$('.request-send').hide()
$('.send-mail-button').click(function (e) {
$('.request-send').show()
$('.text-send').hide()
e.preventDefault()
var nom = $('.nom-form').val()
var telephone = $('.telephone-form').val()
var email = $('.email-form').val()
var sujet = $('.sujet-form').val()
var message = $('.message-form').val()


var data_to_send = {
nom,
telephone,
email,
sujet,
message
}
$.post(sendMailPath, data_to_send).then(function (data) {
if (data.code == 302) {
$('.request-send').hide()
$('.text-send').show()
$('.text-email-sent').text("E-mail well sent")
setTimeout(() => {
$('.text-email-sent').text("")
}, 4000);
}
}).catch(function (e) {
$('.request-send').hide()
$('.text-send').show()
$('.text-email-sent').text("An error has occurred")
setTimeout(() => {
$('.text-email-sent').text("")
}, 4000);
console.log(e)
})


})
	</script>
{% endblock %}

