{% extends 'base.html.twig' %}


{% block body %}
	<div class="container-fluid">

		<div class="header mt-4">
			<nav
				class="navbar navbar-expand-lg bg-body-tertiary">
				<!-- Logo qui s'affiche when screen is block -->
				<a class="navbar-brand d-md-block d-lg-none" href="#">
					<img src="./assets/Logo.png" alt="Logo Gates Technology" width="90" class="offset-1 col-lg-11"/>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link btn btn-gates px-4 d-lg-block d-md-none d-sm-none d-none" aria-current="page" href="#">ACCUEIL</a>
							<a class="nav-link mt-2 d-md-block d-lg-none" aria-current="page" href="#">ACCUEIL</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">SERVICES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TECH ET MÉTHODE</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CLIENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TARIFS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">SOCIÉTÉ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CONTACT</a>
						</li>

					</ul>
					<div class="d-flex bg-switch-lang">
						<div class="dropdown">
							<a class="nav-link dropdown-toggle text-gt-blue" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="{{ asset('/assets/flag/fr.png') }}" alt="No image found" width="20" class="img-fluid"/>
								&nbsp; Français
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item text-gt-blue" href="{{ path('app_home', {lang: "en"}) }}">
										<img src="{{ asset('/assets/flag/en.png') }}" alt="No image found" width="23" class="img-fluid"/>
										Anglais
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>

			<!-- FIRST VIEW -->
			<div class="row mt-4">
				<div class="col-1"></div>
				<div class="col-11">
					<div class="row">
						<img src="./assets/Logo.png" alt="Logo Gates Technology" class="col-12 d-lg-block d-md-none d-sm-none d-none logo-gates-technology"/>
						<div class="col-12 mt-3">
							<h6>BOOSTEZ VOTRE PROJET IT AVEC</h6>
						</div>
						<h1 class="col-12 mt-1 big-title-text bold">
							UNE PUISSANTE ÉQUIPE EN DÉVELOPPEMENT
							<br/>
							NUMÉRIQUE ET MARKETING DIGITAL
						</h1>
						<div class="col-8 mt-3">
							<span class="long-text">
								Expert dans la production de projet informatique agile à Dubai et Madagascar, Gate-Digital accompagne ses clients entreprises et marques dans l’établissement de leurs stratégie digitale
							</span>
						</div>
						<div class="col-12 btn-group-gates mt-5 mb-5">
							<button class="btn btn-red-offline px-5 btn-1">
								NOUS CONTACTER
							</button>
							<button class="btn btn-bleu-full px-5 btn-2">
								Voir nos réalisations
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div
			class="description-content-company mt-3">


			<!-- FOLLOW US, etc... -->
			<div class="row">
				<div class="col-lg-12 col-md-12 d-lg-block d-md-block d-hidden container-fluid background-dcc">
					<img src="./assets/BG-Header.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-5 col-md-5 d-lg-flex d-md-flex d-none follow-us d-flex justify-content-center align-items-center py-1">
					<img src="./assets/undraw_social_media_re_sulg 1.svg" alt="Social Média" class="" style="width: 70px;"/>
					<p class="pt-3 mx-5">Suivez-nous :</p>
					<div class="icon d-flex justify-content-center align-items-center">
						<i class="fab fa-facebook p-2"></i>
						<i class="fab fa-instagram p-2"></i>
						<i class="fab fa-twitter p-2"></i>
						<i class="fab fa-linkedin p-2"></i>
					</div>
				</div>

				<div class="col-lg-12 main-content mt-4">
					<div class="it-partener">
						<div class="row">
							<div class="col-1"></div>
							<div class="col-6 d-flex mt-5 justify-content-end align-items-end">
								<div>
									<h1 class="text-gt-blue bold">VOTRE PARTENAIRE IT STRATÉGIQUE</h1>
									<h3 class="mt-4 text-gt-blue">UN ACCOMPAGNEMENT POUR TOUS VOS PROJETS</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-md-4 d-lg-block d-md-block d-none">
								<img src="./assets/undraw_code_review_re_woeb.svg" alt="Code" class="img-fluid" width="350"/>
							</div>
							<div class="col-lg-1 col-md-1 col-0"></div>
						</div>

						<div class="row mt-5">
							<div class="col-1"></div>
							<div class="col-4">
								<img src="./assets/undraw_online_learning_re_qw08.svg" alt="Code" class="img-fluid" width="350"/>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 d-lg-flex d-md-flex d-none d-flex justify-content-start align-items-center">
								<p class="text-center it-partener-text-content">Dans l’optique de la digitalisation, nous mettons en place un large panel de services : conception et réalisation de A à Z, développement itératif, régie informatique, maintenance et amélioration ...</p>
							</div>
							<div class="col-1"></div>

						</div>
					</div>

					<div class="first-banner container-fluid">
						<div class="first-banner-text-content text-white text-center">
							<p class="gt">Gate-Digital est</p>
							<p class="text-gt-red bold">une entreprise de service du numérique</p>
							<p>(ESN), leader en</p>
							<p class="text-gt-red bold">Création de stratégies et expériences digitales sur mesure</p>
							<p>à Madagascar et à Dubai.</p>
						</div>
						<img src="./assets/banner-1.png" alt="Image Banner 1" class="first-banner-image-content d-lg-block d-md-block"/>
					</div>


					<div class="nos-metiers">
						<div class="row mt-4">
							<div class="col-lg-2 col-md-0 "></div>
							<div class="col-10">
								<h2 class="text-gt-blue bold">Nos Métiers</h2>
							</div>
							<div class="col-12 mt-2">
								Gate-Digital regroupant toutes les expertises : design, tech et conseil en un seul endroit.
							</div>
							<div class="col-12 mt-2">
								<div class="row d-flex mt-3 py-5 add-backgound justify-content-center">

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 text-center p-3 card-price mb-3">
										<h2 class="my-4">Développement</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Site de marque</b>
												:
																								Un site optimisé pour l’utilisateur. Nous nous occupons de la création du site (site de marque, site corporate B2B ou B2C, C2C, e-commerce, évènementiel, etc.) de la stratégie digitale à l’UX, au design et la création technique (Wordpress, symfony, prestashop, etc)</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Extranet/Outil métier digital</b>
												:
																								les  entreprises ont toujours besoin d’outils spécifiques adaptées à leurs besoins ainsi que ceux de leurs clients. Nous nous chargeons de la création de ces outils métiers sur mesure (extranet, support digital pour l’équipe de vente, plateforme de start-up, etc).</span>
										</div>

										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Prendre Contact
											</button>
										</div>
									</div>

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 mx-5  text-center p-3 card-price mb-3">
										<h2 class="my-4">Visibilité</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Digital marketing</b>
												:
																									Nous vous accompagnons dans vos stratégies digitales, établissement de cahier de charge, plan média online, stratégie de marquen, référencement, e-réputation, emailing.</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Acquisition de trafic (SEO/SAE, ...)</b>
												:
																									la digitalisation doit permettre à une organisation d’atteindre une nouvelle audience qualifiée (followers, prospects, etc) pour animer et développer sa communauté à travers des publicités ciblées. Nous faisons l’audit, stratégie d’acquisition et la mise en place du webmarketing (social media, référencement naturel/SEO, Google ADS/SEA, retargeting, etc).</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Réseaux sociaux</b>
												:
																									Les réseaux sociaux représentent le premier point de contact d’une marque avec son utilisateur et client potentiel. D’un premier regard vous devez convaincre de la pertinence et qualité du contenu pour inciter à aller plus loin. Stratégie social, community management, publicités ciblées, création de contenus, etc.</span>
										</div>

										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Prendre Contact
											</button>
										</div>
									</div>

									<div style="width: 28rem;" class="col-lg-4 col-md-6 col-sm-12 text-center p-3 card-price mb-3">
										<h2 class="my-4">Visuelle</h2>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>UX et Design</b>
												:
																								Identité visuelle, design thinking, parcours/tests utilisateurs, direction artistique.</span>
										</div>
										<div class="mt-4 d-flex justify-content-start align-items-start">
											<i class="fas fa-check-circle fa-2x text-success"></i>
											<span class="text-start ml-2" style="padding-left: 6px;">
												<b>Brand content</b>
												:
																								Pour valoriser aussi bien le fond ainsi que la forme, nous nous chargeons de la charte éditoriale, storytelling, rédaction ainsi que la vidéo motion design.</span>
										</div>
										<div class="my-5">
											<button class="btn btn-red-offline px-5">
												Prendre Contact
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="vos-avantages">
						<div class="row">
							<div class="col-lg-6 col-md-7 col-sm-12 px-5">
								<h1 class="text-gt-red bold">VOS AVATANGES</h1>
								<h4>Confiez une partie ou la totalité des projets IT à
																																																					                                    Gates-Digital</h4>
								<div class="reason-1 mt-3 d-flex justify-content-center align-items-center">
									<img src="./assets/avt.png" alt="" class="img-fluid"/>
									<p>Bénéficiez d'une offre flexible au tarif concurrentiel</p>
								</div>

								<div class="reason-2 d-flex justify-content-center align-items-center">
									<p>Les meilleurs profils IT multi compétences</p>
									<img src="./assets/avt1.png" alt="" class="img-fluid"/>
								</div>

								<div class="reason-3 mt-5 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>Accompagnement industrialisé et approche Agile</p>
								</div>
								<div class="reason-4 mt-2 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>"Délai de mise sur le marché" à vitesse grand V</p>
								</div>
								<div class="reason-5 d-flex justify-content-start align-items-center">
									<img src="./assets/avt3.png" alt="" class="mx-4 img-fluid"/>
									<p>Une équipe opérationnelle disponible dans un délai très court</p>
								</div>
							</div>

							<div class="col-lg-6 col-md-5 d-lg-block d-md-block d-none px-5">
								<img src="./assets/rect.png" alt="" class="img-fluid"/>
							</div>

						</div>
					</div>

					<div class="second-banner container-fluid">

						<div class="some-content d-flex justify-content-end align-items-center">
							<div class="content-some row d-flex justify-content-center align-items-center p-2">
								<div class="col-lg-9">
									<h4 class="bold text-gt-blue">Ressources techniques Besoin de ressources techniques ?</h4>
									<p>Gagnez en flexibilité en réduisant vos coûts grâce à une équipe dédiée de développeurs !</p>
								</div>
								<div class="col-lg-3 mt-3 d-flex justify-content-center align-items-center">
									<img src="./assets/undraw_code_review_re_woeb.svg" alt="" class="img-fluid" style="width: 90px;">
								</div>

							</div>
						</div>
						<p class="second-banner-text-description">
							Gate-Digital est
							<span class="text-gt-red bigger">une entreprise de service du numérique</span>
							<br>(ESN),leader
							<span class="text-gt-red bigger">en développement de logiciels</span>
							à Madagascar et à Dubai.</p>
						<img src="./assets/banner-2.png" alt="" class="img-fluid second-banner-image"/>

						<div class="some-content-2 d-flex justify-content-start align-items-center">
							<div class="content-some-2 row d-flex justify-content-center align-items-center p-2">
								<div class="col-lg-3 d-flex justify-content-center align-items-center">
									<img src="./assets/undraw_online_learning_re_qw08.svg" alt="" class="img-fluid" style="width: 90px;">
								</div>
								<div class="col-lg-9 mt-2">
									<h4 class="bold text-gt-blue">Vous avez un projet à développer ?</h4>
									<p>Plus qu'un centre de services, nous réalisonsvos projets web, mobile et logiciel.
									</p>
								</div>

							</div>
						</div>


					</div>

					<div class="client-information container">
						<div class="row d-flex justify-content-center align-items-center" style="height: 300px;">
							<div class="col-lg-5 col-md-5 col-sm-12 my-5 d-flex justify-content-center align-items-center">
								<img src="./assets/undraw_interview_re_e5jn.svg" alt="" class="img-fluid img-responsive img-client">
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12">
								<h3 class="text-center text-gt-blue">
									<b class="h1">Nos clients</b>
									aiment ce que
									<br>
									<b class="h1">nous faisons</b>
								</h3>
								<div class="client-message mt-3 mb-5">
									<img src="./assets/faingo.png" alt="" style="width: 40px;">
									<p class="text-center mt-4 mb-4">Merci pour votre aide. Un professionnalisme irréprochable jamais déçus de vos services.</p>
									<img src="./assets/faingo2.png" alt="" style="width: 40px;float: right;">
								</div>
							</div>
						</div>
					</div>

					<div class="container more-content my-5">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">COMPRENDRE VOTRE BUSINESS EN Y APPORTANT UNE RÉPONSE DIGITALE SUR MESURE ADAPTÉES À VOS BESOINS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>Parce que vos enjeux de notoriété, et de développement passent par le digital, nous avons la responsabilité de comprendre vos problématiques et d’y répondre avec des solutions digital adapté à vos besoins fondé sur notre expérience.</p>
									<p class="bold text-gt-red">Car le client est au cœur de notre métier</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">JEUNES STRUCTURES AMBITIEUSES, NOUS VOUS AIDONS À DÉCOLLER VOTRE BUSINESS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>Avec diverse compétences digitales et profil de très haut niveau, Gate Digital permet aux marques de gagner en réactivité et avec un gain de coût.</p>
									<p class="bold text-gt-red">Une seule agence regroupant toutes les expertises dont vous avez besoin</p>
									<p>Composé d’une grande équipe de webmarketing performant avec beaucoup d’expérience en brand content, nous rassemblons les compétences nécessaires pour la mise en place de votre dispositif digital, coordonné et efficace.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
								<p class="bold text-uppercase">COMPRENDRE VOTRE BUSINESS EN Y APPORTANT UNE RÉPONSE DIGITALE SUR MESURE ADAPTÉES À VOS BESOINS</p>
								<div style="border-left: 4px solid #DC2042;padding: 10px;">
									<p>Parce que vos enjeux de notoriété, et de développement passent par le digital, nous avons la responsabilité de comprendre vos problématiques et d’y répondre avec des solutions digitales adapté à vos besoins fondés sur notre expérience.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="contact container-fluid">
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-12">
								<h1 class="text-white mb-5">Contactez-nous</h1>
								<img src="./assets/undraw_profile_data_re_v81r.svg" alt="contact image" class="img-fluid mb-5"/>
								<p class="text-white">contact@gate-digital.com</p>
								<p class="text-gt-red" style="font-size: 10px;">
									<i class="fas fa-copyright"></i>
									Gate-Digital
									{{ "now" | date('Y') }}</p>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12 text-white">
								<h3 class="mb-5">Nous restons à
									<br>
									<span class="text-gt-red bold to-reduce" style="font-size: 50px;">DISPOSITION</span>
								</h3>
								<p>Pour une demande de devis ou autre demande d'information, n'hésitez pas à nous contacter</p>
								{{form_start(form)}}
								{{form_widget(form.nom)}}
								{{form_widget(form.telephone)}}
								{{form_widget(form.email)}}
								{{form_widget(form.sujet)}}
								{{form_widget(form.message)}}
								<p class="text-email-sent text-gt-red"></p>
								<button type="submit" class="btn btn-red-full px-5 float-end send-mail-button">
									<span class="request-send">
										<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>
									<span class="text-send">Envoyer</span>
								</button>
								{{form_end(form)}}

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="container-fluid footer d-flex justify-content-center align-baseline pt-3">
			<div class="container mt-3">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<img src="./assets/Logo.png" alt="" class="img-fluid"/>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 nos-partenaires">
						<h6 class="mb-4 text-white">Nos partenaires</h6>
						<div>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.daily-africa.com">
								<img src="{{ asset('./assets/logo-partenaires/Daily-africa-01-01-1.png') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.african-sport.com">
								<img src="{{ asset('./assets/logo-partenaires/africa-sport-final-01-1.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.africa-diplomacy.com">
								<img src="{{ asset('./assets/logo-partenaires/logo-africa_diplomacy.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.afrik-economy.com">
								<img src="{{ asset('./assets/logo-partenaires/AfriK-economy FINAL.jpg') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
							<a target="_blank" style="text-decoration: none;" class="w-100" href="https://www.africa-entrepreneurship.com">
								<img src="{{ asset('./assets/logo-partenaires/logo africa entrepreneurship FINAL-03.png') }}" class="img-fluid bg-white rounded mb-1" style="width: 50px !important;height: 50px;border-radius: 50%;" alt="">
							</a>
						</div>
					</div>

					<div class="nos-services col-lg-3 col-md-3 col-sm-6 text-white">
						<h6 class="mb-4">Nos Services</h6>
						<p style="color: gray">
							<b>UX et Design :</b>
							Identité visuelle, design thinking,...
						</p>
						<p style="color: gray">
							<b>Brand content :</b>
							Pour valoriser aussi bien le fond ainsi que la forme,...
						</p>
						<p style="color: gray">
							<b>Digital marketing :</b>
							Nous vous accompagnons dans vos stratégies digitales,...
						</p>

					</div>


					<div class="contact-adress col-lg-3 col-md-3 col-sm-6 text-white">
						<h6 class="mb-4">Contactez-nous</h6>
						<p style="color: gray">
							<i class="fas fa-phone"></i>
							&nbsp;+971 50 334 5776
						</p>

						<p style="color: gray">
							<i class="fas fa-envelope"></i>
							&nbsp;contact@gate-digital.com
						</p>

					</div>
				</div>
				<hr class="text-white">

				<div class="row mb-3 d-flex justify-content-between align-items-center">
					<div class="col-lg-6 d-flex justify-content-center align-items-center">
						<div>
							<i class="fas fa-envelope fa-2x text-white"></i>
						</div>
						<div class="text-white" style="font-size: 12px; margin-left: 30px;">
							<p style="color: gray;">Rejoignez notre newsletter mensuelle</p>
							<p>Inscrivez-vous pour recevoir mensuellement nos dernières actualités et publications !</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Addresse E-mail" aria-describedby="button-addon2" style="border: 1px solid #DC2042;background-color: darkgray;"/>
							<button class="btn btn-red-full" type="button" id="button-addon2">S'abonner</button>
						</div>
					</div>

				</div>

			</div>
		</div>


	</div>


{% endblock %}

{% block javascripts %}
	<script>
		var sendMailPath = "{{ path('app_send_contact_mail') }}"
$('.request-send').hide()
$('.send-mail-button').click(function (e) {
$('.request-send').show()
$('.text-send').hide()
e.preventDefault()
var nom = $('.nom-form').val()
var telephone = $('.telephone-form').val()
var email = $('.email-form').val()
var sujet = $('.sujet-form').val()
var message = $('.message-form').val()


var data_to_send = {
nom,
telephone,
email,
sujet,
message
}
$.post(sendMailPath, data_to_send).then(function (data) {
if (data.code == 302) {
$('.request-send').hide()
$('.text-send').show()
$('.text-email-sent').text("E-mail bien envoyé")
setTimeout(() => {
$('.text-email-sent').text("")
}, 4000);
}
}).catch(function (e) {
$('.request-send').hide()
$('.text-send').show()
$('.text-email-sent').text("Une erreur s'est produite")
setTimeout(() => {
$('.text-email-sent').text("")
}, 4000);
console.log(e)
})


})
	</script>
{% endblock %}

