@font-face {
    font-family: "poppins";
    src: url("./Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("./Poppins/Poppins-Bold.ttf");
}

* {
    font-family: "poppins";
    font-size: 14px;
}

body {
    /* overflow-x: hidden; */
}



.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

.text-gt-blue {
    color: #093966;
}

.text-gt-red {
    color: #dc2042;
}

.bg-gt-blue {
    color: #093966;
}

.bg-gt-red {
    color: #dc2042;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 40px;
    margin-top: 10px;
}

.nav-item {
    margin-right: 20px;
}

.nav-item .nav-link {
    font-weight: bold;
    color: #093966;
}

.bg-switch-lang {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid #093966;
    border-radius: 10px;
    margin-right: 160px;
}

.logo-gates-technology {
    width: 250px;
}

.btn-gates {
    background-color: #dc2042;
    color: #fff !important;
}

.btn-gates:hover {
    background-color: #fff;
    color: #dc2042 !important;
    border: #dc2042 solid 1px;
}

.bold {
    font-family: "poppins-bold" !important;
}

.btn-red-offline {
    background-color: #fff;
    border: #dc2042 solid 2px;
    color: #dc2042;
}

.btn-red-offline:hover {
    background-color: #dc2042;
    border: #dc2042 solid 2px;
    color: #fff;
}

.btn-bleu-full {
    background-color: #093966;
    border: #093966 solid 2px;
    color: #fff;
    margin-top: 0px;
}

.btn-bleu-full:hover {
    background-color: #093966;
    border: #093966 solid 2px;
    color: #fff;
}

.big-title-text {
    text-shadow: 1px 1px white;
}

.long-text {
    font-size: 12px;
    text-shadow: 1px 1px #fff;
}

















/* CONTENET */
.background-dcc {
    position: relative;
    top: 0;
    /* left: -10px; */
    width: 100%;
    /* height: 100vh; */
    /* overflow: hidden; */
    z-index: -1;
}

.follow-us {
    position: relative;
    left: 0px;
    top: -25px;
    padding-left: 40px;
    width: 600px;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: #093966 2px solid;
}

.main-content {}

.first-banner {
    position: relative;
}

.first-banner-text-content {
    position: absolute;
    top: calc(25%);
    left: calc(10%);
}

.first-banner-text-content p {
    font-size: 30px !important;
    text-shadow: 1px 1px #000;
}

.first-banner-image-content {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    /* height: 547px; */
    z-index: -1;
}

.add-backgound {
    background: url("./../assets/undraw_mobile_payments_re_7udl.svg") no-repeat center;
    background-size: contain;
}

.card-price {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 2px solid gray;
    border-bottom: 7px solid rgba(9, 57, 102, 0.37);
    border-right: 7px solid rgba(9, 57, 102, 0.37);
}

.btn-red-full {
    background-color: #dc2042;
    border: #dc2042 solid 2px;
    color: #fff;
}

.btn-red-full:hover {
    background-color: #dc2042;
    border: #dc2042 solid 2px;
    color: #fff;
}

.vos-avantages {
    margin-top: 40px;
}

.second-banner {
    position: relative;
}

.content-some {
    position: relative;
    top: 40px;
    right: -10px;
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: #DC2042 2px solid;
    z-index: 2;
    background-color: #fff;
}

.second-banner-text-description {
    position: absolute;
    top: 30%;
    bottom: 30%;
    width: 100%;
    background-color: rgba(9, 57, 102, 0.7);
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px #000;
    padding: 50px;
}

.second-banner-image {
    width: 100%;
    z-index: -1;
}

.content-some-2 {
    position: relative;
    left: -10px;
    top: -40px;
    width: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: #093966 2px solid;
    z-index: 2;
    background-color: #fff;
}


.img-client {
    width: 250px !important;
}


.bigger {
    font-size: 40px;
}


.client-information {
    position: relative;
    margin-bottom: 280px;
}


.contact {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    background-color: #093966;
    padding: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
    background-color: #474142;
}












/* MEDIA QUERY */

@media (min-width: 200px) {
    .background-dcc {
        opacity: 0 !important;
    }

    .navbar-toggler {
        margin-right: 40px;
    }

    .to-reduce {
        font-size: 30px !important;
    }

    .client-information {
        position: relative;
        margin-bottom: 280px;
    }


    .big-title-text {
        font-size: 20px;
    }

    .second-banner {
        display: none;
    }

    .btn-group-gates .btn-2 {
        margin-top: 10px;
    }

    .it-partener-text-content {
        font-size: 12px;
    }

    .first-banner {
        display: none;
    }

    .nos-metiers {
        margin-top: 40px;
    }
}

@media (min-width: 368px) {

    .btn-group-gates {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width: 576px) {
    .big-title-text {
        font-size: 20px;
    }

    .first-banner-text-content p {
        font-size: 10px !important;
    }

    .first-banner {
        display: block;
    }

    .nos-metiers {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .background-dcc {
        opacity: 1 !important;
    }

    .to-reduce {
        font-size: 40px !important;
    }

    .big-title-text {
        font-size: 30px;
    }

    .client-information {
        margin-bottom: 0px;
    }


    .second-banner {
        display: block;
    }

    .second-banner-text-description {
        font-size: 20px;
    }

    .bigger {
        font-size: 30px;
    }

    .btn-group-gates {
        display: block;
    }

    .first-banner-text-content span {
        font-size: 20px !important;
    }

    .btn-group-gates .btn-2 {
        margin-top: 0px;
    }
}

@media (min-width: 992px) {
    .to-reduce {
        font-size: 50px !important;
    }

    .it-partener-text-content {
        font-size: 18px;
    }

    .second-banner-text-description {
        font-size: 30px;
    }

    .bigger {
        font-size: 40px;
    }

    .first-banner-text-content p {
        font-size: 30px !important;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}