<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<link rel="shortcut icon" href="{{ asset('assets/Logo.png') }}" type="image/x-icon">
		<meta name="description" content="Une entreprise de service du numérique ( ESN) basée à Madagascar et à dubai. Spécialisée dans le développement d'applications web, mobiles."/>
		<meta name="keywords" content="Developpment, Digitalisation, Numerisation, Digitalisation"/>
		<link rel="stylesheet" href="{{ asset('/styles/bootstrap/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('/styles/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('/styles/style.css') }}"/>
		<title>Gate-Digital</title>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{ asset('/styles/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('/styles/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
